version: '2.2' # Docker-compose yml version for docker compose builder
services:
  osm-postgis-server:  # also builds the postgres data in "osm-data"
    image: osm-postgis-server:0.1
    command: ["import"]
    container_name: osm-postgis-server
    environment: # env variables
      - THREADS=24
    ports: # Ports we wish to expose source:target
      - 15432:5432
    volumes: # Which Bind mounts or Volumes to mount source:target
      - osm-data-postgis:/var/lib/postgresql/10/main
      - ./data.osm.pbf:/data.osm.pbf
    networks:
      - postgis_network

  # after rendering the postgis in osm-postgis-server we can start the tile servers
  osm-tile-building:
    image: osm-tile-server:0.1
    command: import_run project_building_only.mml
    container_name: osm-tile-building
#    depends_on:
#      osm-postgis-server:
#        condition: service_healthy
    environment: # env variables
      - THREADS=24
    ports: # Ports we wish to expose source:target
      - 8101:80
    volumes: # Which Bind mounts or Volumes to mount source:target
      - osm-data-tile1:/var/lib/postgresql/10/main
      - ./data.osm.pbf:/data.osm.pbf
    networks:
      - tile_network1
  osm-tile-road:
    image: osm-tile-server:0.1
    command: import_run project_road_only.mml
    container_name: osm-tile-road
#    depends_on:
#      osm-postgis-server:
#        condition: service_healthy
#      osm-tile-building:
#        condition: service_healthy
    environment: # env variables
      - THREADS=24
    ports: # Ports we wish to expose source:target
      - 8102:80
    volumes: # Which Bind mounts or Volumes to mount source:target
      - osm-data-tile2:/var/lib/postgresql/10/main
      - ./data.osm.pbf:/data.osm.pbf
    networks:
      - tile_network2
  osm-tile-landcover:
    image: osm-tile-server:0.1
    command: import_run project_landcover_only.mml
    container_name: osm-tile-landcover
#    depends_on:
#      osm-postgis-server:
#        condition: service_healthy
#      osm-tile-road:
#        condition: service_healthy
    environment: # env variables
      - THREADS=24
    ports: # Ports we wish to expose source:target
      - 8103:80
    volumes: # Which Bind mounts or Volumes to mount source:target
      - osm-data-tile3:/var/lib/postgresql/10/main
      - ./data.osm.pbf:/data.osm.pbf
    networks:
      - tile_network3
  osm-tile-normal:
    image: osm-tile-server:0.1
    command: import_run project.mml
    container_name: osm-tile-normal
    environment: # env variables
      - THREADS=24
    ports: # Ports we wish to expose source:target
      - 8104:80
    volumes: # Which Bind mounts or Volumes to mount source:target
      - osm-data-tile4:/var/lib/postgresql/10/main
      - ./data.osm.pbf:/data.osm.pbf
    networks:
      - tile_network4
volumes:
  osm-data-postgis:
  osm-data-tile1:
  osm-data-tile2:
  osm-data-tile3:
  osm-data-tile4:

networks:
  postgis_network:
    driver: bridge
  tile_network1:
    driver: bridge
  tile_network2:
    driver: bridge
  tile_network3:
    driver: bridge
  tile_network4:
    driver: bridge